div{
    width: 100%;
    height: 100px;
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
input:focus{
    outline:none;
}

input {
    border: 3px solid rgba(0,0,200,0.5);
    margin-left: 5px;
    position: relative;
    font-size: 15px;
}
label {
    color: white;
}
.price-window{
    position: absolute;
    border-radius: 5px;
    border: lightgray 1px solid;
    background-color: white;
    top: 10px;
    left: 680px;
    font-size: 12px;
    color: grey;
    padding-left: 5px;
    padding-right: 5px;
}
button {
    margin-right: 5px;
}
.alert {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 580px;

}